body {
	padding-bottom: 40px;
	background-color: #f9f9f9;
}

canvas {
	border: 2px solid black;
	max-width: 50%;
}

pre {
	line-height: 1.8;
}

form, body, pre {
	border: 0;
	padding: 0;
}

html, body {
	width: 90%;
	height: 100%;
}